.profile{
    position: relative;
}

.profile h2{
    position: absolute;
    width: 320px;
    top: 15px;
    left: 164px;
}

.profile p{
    position: absolute;
    top: 80px;
    left: 190px;
}

.profile .mark {
    position: absolute;
    top: 40px;
    left: 466px;
}

.profile .btn_main {
    position: absolute;
    top: 80px;
    left: 186px;
}
