.profile{
    position: relative;
}

.profile h2 {
    position: absolute;
    width: 420px;
    top:0px;
    left: 104px;
}

.new_pro {
  position: absolute;
  width: 420px;
  top: 50px;
  left: 230px;
}

.old_pro{
    position: absolute;
    width: 420px;
    top: 50px;
    left: 128px;
}

.profile p {
    position: absolute;
    top: 80px;
    left: 190px;
}

.profile .mark {
    position: absolute;
    top: 40px;
    left: 466px;
}

.profile .btn_main {
    position: absolute;
    top: 80px;
    left: 186px;
}
