   <!--account start-->
    <div class="container">
        <div class="row mt-5 mb-5">
            <a href="/hr?login=bomjfedosei"><img src="/static/img/Vector.png" alt="vector"></a>
            <h4 class="pl-4">К списку сотрудников</h4>
        </div>

        <div class="row">
            <div class="profile">
                <img src="/static/img/{{Avatar}}" alt="">
                <h2 class="pl-4">{{Human}}</h2>
                <img class="mark" src="/static/img/red-img.png" alt="" width="12px" height="12px">
                <p>{{Position}}</p>
                <button class="btn_main mt-5">Личная информация</button>
            </div>
        </div>


<div class="container pt-5">
        <div class="row mt-5 pt-5">
            <div class="col-sm-6">
                <h3>Обязательные Навыки:</h3>
                {% for item in Needed_Skills %}
                {{item}}<br>
                {% endfor %}
            </div>

            <div class="col-sm-6">
                <h3>Рекомендуемые Навыки:</h3>
                {% for item in Recomended_Skills %}
                {{item}}<br>
                {% endfor %}
            </div>
        </div>

</div>
    </div>
