<!--header start-->
    <header>
        <div class="container">
            <div class="row header_content">
                <div class="logo col-sm-3">
                    <img src="/static/img/Logo%20Boost%20Worker.svg" alt="">
                </div>

                <nav>
                    <ul>
                        <li><a href="/hr?login=bomjfedosei">Главная</a></li>
                        <li><a href="/employee/?login=bomjfedosei">Сотрудники</a></li>
                        <li><a href="/skills/?login=bomjfedosei">Навыки</a></li>
                        <li><a href="#">Отчеты</a></li>
                    </ul>
                </nav>

                <div class="account">
                    <img src="/static/img/account.png" alt="acc">
                    <h6>{{person}}</h6>
                    <p>{{type}}</p>
                </div>
            </div>
        </div>

    </header>

    <!--header end-->
