<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Boost Worker</title>

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!--Main CSS-->
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Log CSS-->
    <link rel="stylesheet" href="static/css/log.css">


</head>

<body>

<!--log start-->
    <div class="container log_container">
        <div class="row">
            <div class="col-sm-4">

                <form action="autorize" method="post">
                     <h1 class="mb-5">Boost Worker</h1>
                      {% csrf_token %}
                    <div class="form-group">

                        <input type="text" class="form-control" name = 'login' id="exampleInputLogin1" aria-describedby="emailHelp" placeholder="Логин">

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" name = "pass" id="exampleInputPassword1" placeholder="Пароль">
                    </div>
                   <button type="submit" class="btn_main mt-5">Вход</button>
                </form>


            </div>
            <div class="col-sm-8 mt-5 pt-5 log_illustr">
                <img src="static/img/Boost.svg" alt="boost">
            </div>
        </div>
    </div>

<!--log end-->








    <!-- JS, Popper.js и jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body></html>
